#############################
########## General ##########
#############################
TZ=UTC

PORT=

UI_URL=

#############################
########### JWT #############
#############################
AUTH_JWT_SECRET=

FORGOT_PASSWORD_JWT_SECRET=

#############################
############ DB #############
#############################
DATABASE_URL=

#############################
########### Redis ###########
#############################
REDIS_URL=

#############################
############ SMTP ###########
#############################
SMTP_URL=

SMTP_FROM=