#############################
########## General ##########
#############################
TZ=UTC

PORT=3000

UI_URL=http://localhost:5173

#############################
########### JWT #############
#############################
AUTH_JWT_SECRET=jwt_auth_jwt_secret

FORGOT_PASSWORD_JWT_SECRET=jwt_forgot_password_jwt_secret

#############################
############ DB #############
#############################
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/incidenthub

#############################
########### Redis ###########
#############################
REDIS_URL=redis://localhost:6379

#############################
############ SMTP ###########
#############################
SMTP_URL=http://localhost:1234

SMTP_FROM=serve@email.com